<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.dakoller.lmdialer"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
        <activity android:name=".LMDialer"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
    <receiver android:name="ExampleAppWidgetProvider" >
	    <intent-filter>
	        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
	    </intent-filter>
	    <meta-data android:name="android.appwidget.provider"
	               android:resource="@xml/example_appwidget" />
	</receiver>
	
	<supports-screens android:largeScreens="true" android:anyDensity="true" />


<uses-permission android:name="android.permission.READ_CALENDAR"></uses-permission>
<uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>


<uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
</manifest> 